.btn {
  height: 4rem;
  width: 4rem;
  font-size: 2rem;
  font-weight: bold;
}

.h1{
    font-size: 4rem;
    font-weight: 600;
    color: antiquewhite;
}
#number{
  width: fit-content;
  font-size: 8rem;
  color:antiquewhite;
  font-weight: bold;
}

.main {
    margin-top: 10%;
}
body {
  background: rgb(72, 148, 218);
  background: linear-gradient(
    97deg,
    rgba(72, 148, 218, 1) 7%,
    rgba(40, 201, 210, 1) 50%,
    rgba(101, 161, 219, 1) 100%
  );
}
